form{
    border: solid black;
    background-color: burlywood;
    width: 250px;
    padding: 20px;
    text-align: center;
}
#answer{
    text-align: center;
}
body{
    background-color: antiquewhite;
}
div{
    border: solid black;
    margin: 10px;
    text-align: center;
}
h1, h2, h3{
    text-align: center;
}

